@use 'colors'
@import 'mixins'

nav
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    padding: 1rem
    position: sticky
    top: -1px
    background-color: lighten(colors.$secondary, 55)
    z-index: 100
    transition: all 500ms ease-in
    border-bottom: 2px solid transparent
    border-bottom-right-radius: 7px
    border-bottom-left-radius: 7px

    @include lg-screens(flex-direction, row)

    &::after
        content: ''
        position: absolute
        inset: 0
        background: transparent
        opacity: 1
        z-index: -1
        box-shadow: 0 0 10px 0 #000000
        border-bottom-right-radius: 7px
        border-bottom-left-radius: 7px

    &.hidden
        transition: all 200ms ease-in
        padding: 1.125rem auto
        margin-bottom: -25px
        &::after
            opacity: 0
        button
            display: none
        div 
            width: 100%
        ul
            width: 0
        div > div
            display: flex
            align-items: center
            justify-content: space-between
            span:nth-child(2)
                font-size: 1rem
                color: #555
            width: 98%
            @include mx-auto
            flex-direction: row
            height: calc(1.5rem + 0.75rem + .25rem + 1px)

    &>div
        width: 100%
        display: flex
        align-items: center
        @include lg-screens(width, 20%)
        &>div
            display: flex
            flex-direction: column
            span:nth-child(1)
                font-size: 1.5rem
                @include emphasis(colors.$base)
            span:nth-child(2)
                font-size: 0.75rem
        &>button
            $color: #444
            margin-left: auto
            color: $color
            cursor: pointer
            display: grid
            place-items: center
            padding: 0.125rem 0.25rem
            border: 1px solid $color
            border-radius: 5px

            @include on-hover(color, lighten($color, 10))
            @include on-hover(border-color, lighten($color, 10))
            @include on-hover(background-color, lighten(colors.$light-tetiary, 50))
            @include icon-preset()
            @include lg-screens(display, none)

    &>ul
        width: 100%
        display: flex
        justify-content: space-evenly
        flex-direction: column
        overflow: hidden
        border-top: 0 solid #ddd

        transition-property: height, max-height, border-width, padding-top, margin-top
        transition-duration: 0.2s 
        transition-timing-function: linear

        &[toggled="true"]
            max-height: 30vh
            margin-top: 10px
            padding-top: 5px
            border-top-width: 1px

        &[toggled="false"]
            max-height: 0
            padding: 0
            margin-top: 0
            border-top-width: 0
       
        @include lg-screens-specific
            &[toggled="false"]
                max-height: 5vh
            max-height: 5rem
            width: 40%
            border: none
            padding-top: 0
            margin-top: 0
            justify-content: space-evenly
            flex-direction: row
        li
            border-radius: 5px
            display: flex

            @include lg-screens-list([[padding, auto], [padding, initial], [border-radius, 0]])
            @include lg-screens-pseudo(background-color, #0000!important, hover)
            @include on-hover(background-color, lighten(colors.$secondary, 48))

            &>a
                padding: 0.75rem 0.5rem
                @include full
                @include on-hover(color, lighten(colors.$base, 15))
            &.active
                color: colors.$base
